@model ITINDEXAU.Models.ResetPassword
@{
    ViewBag.Title = "Reset Password";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="reset-content">
    @using (Html.BeginForm()){
        @Html.HiddenFor(m=>m.ID)
        <table>
            <tr>
                <td colspan="4">
                    <h2>Reset Password</h2>
                </td>
            </tr>
            <tr>
                <td colspan="4">
                    <div class="validation-error">
                    @Html.ValidationSummary()
                    </div>
                </td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>          
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m=>m.Password)</td>
                <td>:</td>
                <td>@Html.TextBoxFor(m => m.Password, new {@class="text-field", @placeholder="  [Password]" })</td>
                <td class="validation-error-msg">@Html.ValidationMessageFor(m=>m.Password)</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td>@Html.LabelFor(m=>m.ConfirmPassword)</td>
                <td>:</td>
                <td>@Html.TextBoxFor(m => m.ConfirmPassword, new {@class="text-field", @placeholder="  [Confirm Password]" })</td>
                <td class="validation-error-msg">@Html.ValidationMessageFor(m=>m.ConfirmPassword)</td>
            </tr>
            <tr>
                <td colspan="4"></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td style="text-align:right;"><input type="submit" value="Reset" class="button-login" /></td>
                <td></td>
            </tr>
        </table>
    }   
</div>
 @section Scripts {@Scripts.Render("~/bundles/jqueryval")}

